<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html id="start" lang="{{ .Site.LanguageCode | default "en-us" }}" class="no-js">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

  {{/** TODO: figure out where the assets/ dir should go and load CSS from there
  {{ $styles := resources.Get "styles.css" | resources.fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" >
  */}}

  <link rel="preload" as="style" href="{{ "css/main.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">


  <title>{{ .Title }}</title>

  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

  {{ with .OutputFormats.Get "jsonfeed" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{- end }}
  {{ with .OutputFormats.Get "RSS" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{- end }}

  <!-- siiiiiigh Twitter -->
  <meta name="twitter:card" content="summary" />
  {{ if (isset $.Site.Params "twitter") }}
    {{ if (isset $.Site.Params.Twitter "site") }}
      <meta name="twitter:site" content="{{ $.Site.Params.Twitter.site }}" />
    {{ end }}
    {{ if (isset $.Site.Params.Twitter "creator") }}
      <meta name="twitter:creator" content="{{ $.Site.Params.Twitter.creator }}" />
    {{ end }}
  {{ end }}

  <!-- fine, here's some OG garbage -->
  <meta property="og:locale" content="{{ $.Site.Language.Lang }}" />
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
  <meta property="og:title" content="{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }}{{ end }}">
  <meta property="og:description" content="{{ if .IsHome }}{{ $.Site.Params.Subtitle }}{{ else if .Description}}{{ .Description | plainify }}{{ else }}{{ .Summary | plainify }}{{ end }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:site_name" content="{{ $.Site.Title }}" />
  {{ if and (not .IsHome) (isset .Params "cover") }}
    <meta property="og:image" content="{{ .Param "cover" | absURL }}">
  {{ else }}
    {{ if isset $.Site.Params "favicon" }}
      <meta property="og:image" content="{{ $.Site.Params.favicon | absURL }}">
      <meta property="og:image:width" content="2048">
      <meta property="og:image:height" content="1024">
    {{ end }}
  {{ end }}

  {{ range .Params.categories }}
    <meta property="article:section" content="{{ . }}" />
  {{ end }}
  {{ if isset .Params "date" }}
    <meta property="article:published_time" content="{{ time .Date }}" />
  {{ end }}
</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}

  <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "d5bfd8478a2c44faa39dc0b871aee247"}'></script><!-- End Cloudflare Web Analytics -->
</body>
</html>
