<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html id="start" lang="{{ .Site.LanguageCode | default "en-us" }}" class="no-js">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

  {{/** TODO: figure out where the assets/ dir should go and load CSS from there
  {{ $styles := resources.Get "styles.css" | resources.fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" >
  */}}

  <link rel="preload" as="style" href="{{ "css/main.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">


  <title>{{ .Title }}</title>

  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

  {{ with .OutputFormats.Get "jsonfeed" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{- end }}
  {{ with .OutputFormats.Get "RSS" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{- end }}
</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>
