{{ define "main" }}
	<main>
    <article class="{{ .Type }}">
      {{ if eq .Type "newsletters" }}
      <h1><a href="{{ .Permalink }}">Newsletter {{ .Slug }}</a></h1>
      <p>{{ .Title | markdownify }}</p>

      {{ else if eq .Type "links" }}
      <h1><a href="{{ .Params.Link }}">{{ .Title | markdownify }}</a></h1>
      <h2>This link was originally published on <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006 at 3:04pm" }}</time>.{{ with .Lastmod}} It was most recently updated on <time datetime="{{ dateFormat "2006-01-02" . }}">{{ dateFormat "January 2, 2006 at 3:04pm" . }}</time>{{end}}</h2>
      {{ .Content }}

      {{ else }}
      <h1>{{ .Title | markdownify }}</h1>
      <h2>This post was originally published on <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006 at 3:04pm" }}</time>.{{ with .Lastmod}} It was most recently updated on <time datetime="{{ dateFormat "2006-01-02" . }}">{{ dateFormat "January 2, 2006 at 3:04pm" . }}</time>{{end}}</h2>
      {{ .Content }}
      {{ range .Params.tags }}
      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    {{ end }}
    </article>
	</main>
{{ end }}
