{{ define "main" }}
<main id="single">
  <article class="{{ .Type }}">
    {{ if eq .Type "newsletters" }}
    <header>
    <h1>Newsletter {{ .Slug }}</h1>
    </header>
    <p>{{ .Title | markdownify }}</p>

    {{ else if eq .Type "links" }}
    <header>
    <h1><a href="{{ .Params.link }}">{{ .Title | markdownify }}</a></h1>
    <h2>Posted on <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006 at 3:04pm" }}</time>{{ with .Params.via }} • <a href="{{ . }}">via</a>{{ end }}</h2>
    </header>
    {{ .Content }}

    {{ else }}
    <header>
    <h1>{{ .Title | markdownify }}</h1>
    <h2>Posted on <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006 at 3:04pm" }}</time>.{{ with .Lastmod}}</time>{{end}}</h2>
    </header>
    {{ .Content }}
    {{ range .Params.tags }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  {{ end }}
  </article>
</main>
{{ end }}
