{{ define "main" }}
<main id="single">
  <article class="{{ .Type }}">
    {{ if eq .Type "newsletters" }}
    <header>
    <h1>Newsletter {{ .Slug }}</h1>
    </header>
    {{ .Content }}
    {{ partial "tags" . }}

    {{ else if eq .Type "links" }}
    <header>
    {{ $t := time (.Date.Format "2006-01-02") }}
    {{ if $t.After (time "2021-01-30") }}
      <h1>{{ .Title | markdownify }}</h1>
    {{ else }}
      <h1><a href="{{ .Params.Link }}">{{ .Title | markdownify }}</a></h1>
    {{ end }}
    <h2>Posted on <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006 at 3:04pm" }}</time>{{ with .Params.via }} • <a href="{{ . }}">via</a>{{ end }}</h2>
    </header>
    {{ .Content }}
    {{ partial "tags" . }}

    {{ else }}
    <header>
    <h1>{{ .Title | markdownify }}</h1>
    <h2>Posted on <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006 at 3:04pm" }}</time>.{{ with .Lastmod}}</time>{{end}}</h2>
    </header>
    {{ .Content }}
    {{ partial "tags" . }}
  {{ end }}
  </article>
</main>
{{ end }}
