<header>
{{ $t := time (.Date.Format "2006-01-02") }}
{{ if $t.After (time "2021-01-27") }}
  <h1><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h1>
{{ else }}
  <h1><a href="{{ .Params.Link }}">{{ .Title | markdownify }}</a></h1>
{{ end }}
  <h2 class="permalink">
    <a href="{{ .RelPermalink }}" title="Link to this post on Flicker Fusion"><time datetime="{{ .Date.Format "2006-01-02" }}">Posted at {{ .Date.Format "3:04pm" }}</time>{{ with .Params.via }} • <a href="{{ . }}">via</a>{{ end }}</a>
  </h2>
</header>
{{ .Content }}
{{ partial "tags" . }}
