{{ define "main" }}
<main>
	{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}

    {{ range $paginator.Pages.GroupByDate "2006-01-02" }}
      <section id="{{ .Key }}" class="day">
      <time datetime="{{ dateFormat "2006-01-02" .Key }}">{{ dateFormat "January 2" .Key }}</time>

      {{ range .Pages }}
      <article class="{{ .Type }}">
        {{ if eq .Type "newsletters" }}
          <h1><a href="{{ .Permalink }}">Newsletter {{ .Slug }}</a></h1>
          <h2>{{ .Title | markdownify }}</h2>

        {{ else if eq .Type "links" }}
        <h1><a href="{{ .Params.Link }}">{{ .Title | markdownify }}</a>&nbsp;<a class="ff_permalink" href="{{ .Permalink }}" title="Link to this post from {{ .Date.Format "January 2, 2006 at 3:04pm" }}">∞</a></h1>
        {{ .Content }}

        {{ else }}
        <h1><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
        {{ .Content }}
        {{ range .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      {{ end }}
      </article>
      {{ end }}
      </section>
  {{ end }}
  {{ partial "pagination" . }}
</main>
{{ end }}
